{% extends 'finder/main.html' %}
{% load static %}
{% block content %}

<div class="container">
<div class="row justify-content-sm-center">
<div class="col-md-9 col-lg-6">
<div class="card shadow text-center my-5">
    <h3 class="card-header rounded-0">Login to MyBookshelf</h3>
    <div class="card-body mx-auto py-4">

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row  justify-content-center">

                {% if form.errors %}
                    {% for error in form.errors.values %}
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger p-2">
                                <span>{{ error|striptags }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}

                {% for field in form %}
                <div class="col-10 col-xl-8">
                    <div class="input-group my-2">
                        <div class="input-group-text border-0 text-white justify-content-end"
                              style="background-color: #0AA2C0; width: 100px;">
                            {{ field.label }}:
                        </div>

                        <input type="{{ field.field.widget.input_type }}"
                               class="form-control"
                               name="{{ field.name }}"
                               id="id_{{ field.name }}"
                               value="{{ field.value|default:'' }}"
                               placeholder="{{ field.field.widget.attrs.placeholder }}"
                               aria-label="{{ field.label }}">
                    </div>
                </div>
                {% endfor %}

            </div>
            <button type="submit" class="btn mt-2">
                Log in <i class="bi bi-box-arrow-in-right"></i>
            </button>
        </form>
    </div>
  <div class="card-footer">
    You don't have an account? Try "demouser" with "demouser" or <a class="badge btn" href="{% url 'register' %}">sign up!</a>
  </div>
</div>
</div>
</div>
</div>

{% endblock content %}
